<div id="presentacion">

    <hr />
    <div id="columnsInfo">
        <div id="habilidades" >
            
            <h3>Habilidades <i class="bi bi-file-earmark-code"></i></h3>
            <p>Estudio desde las actividades dentro de las cuales me apasionan en la rama de desarrollo para una entrega continua</p>
            <p class="text-primary"> Stack:</p>
            <p>ASP.NET Core, SQL Server</p>
            <p id="cabecera">Experiencia</p>
            <ul>
                <li>
                    ASP.NET Core MVC
                </li>
                <li>
                    JavaScript Jr
                </li>
                <li>
                    CSS
                </li>
                <li>
                    C#
                </li>
                <li>
                    HTML
                </li>
                <li>
                    SQL Server
                </li>
            </ul>
        </div>
    </div>
</div>

