<div class="tit">
    <h1 class="display-4">
        Soy Miguel Angel Vargas 
    </h1> 
    <hr />
    <h2>
        Estudiante de ingenieria de Sistemas | .NET | JavaScript Jr 
    </h2>
   <hr />
    <img
    id="Foto"
    src="~/assets/Foto_P.PNG" 
    alt="Foto_Miguel" />
    

</div>
<div class="text-center">
    <img id="Foto_NET" src="~/assets/images.png" />
</div>
    <div id="parrafoPresentacion" class="col col-md-7 seccion-presentacion">
        <h3>Te doy la bienvenida a mi portafolio</h3>
        <p>
            Soy Estudiante se octavo semestre de ingenieria en sistemas con conocimiento en lenguajes de programacion 
            y la utilizacion de entornos de la Web. Apasionado por el area de desarrollo por la cual me he
            enfocado para el aprendizaje continuo de la misma.
        </p>

    </div>
